<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>球員熱搜排名</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container-xl" id="app" style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h3>球員熱搜排名</h3>
        </div>
        <div class="col-xs-3"></div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <button class="btn btn-success rounded-pill px-3 float-end" type="button" v-on:click="refreshOnClick"
                    v-bind:disabled="isRefreshBtnDisabled">
                <!--            <span class="spinner-border spinner-border-sm"></span>-->
                <span role="status"> 重新整理 </span>
            </button>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row" v-for="(player, index) in topPlayerList">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="card mb-4 rounded-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title"><span class="badge text-bg-info rounded-pill">{{index+1}} </span>
                        {{player.name}} </h4>
                    <p class="card-text">搜尋次數：{{player.popularity}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>